.quiz-container {
    background: rgb(62, 63, 63);
    padding: 1rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(51, 50, 50, 0.1);
    transition: all 0.3s linear;
    text-align: center;
    font-size: 0.9rem;
    color: white;
  }
  .prev-btn,
  .next-btn {
    font-size: 0.99rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: white;
  }
  .mybutton {
    font-size: 0.99rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: transparent;
    border-color: #28334aff;
    padding: 0.4em;
    margin: 0.4em;
    cursor: pointer;
    border-radius: 20px;
  }
  .card1 {
    background: rgb(62, 63, 63);
    color: white;
    padding: 1.1rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 2px;
  }
  